input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

input {
    display: none;
}

label {
    display: block;
    padding: 12px 0px;
    margin: 0 0 3px 0;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: hsl(60, 100%, 90%);
}

img.avatar{
    border-radius: 50%;
}

body {
      font-size: 1.1em;
}

.hero .classebook {
  background-color: hsl(150, 2%, 94%);
}

.hero .classbreakthrough {
  background-color: hsl(180, 100%, 90%);
}